/* Extra small devices */
@media only screen and (max-width: 600px) {
    /* html { border: 8px solid red } */
    body { font-size: 14px }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
    /* html { border: 8px solid blue } */
    body { font-size: 18px }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
    /* html { border: 8px solid green } */
    body { font-size: 20px; max-width: 85% }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
    /* html { border: 12px solid orange } */
    body { font-size: 24px; max-width: 85% }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
    /* html { border: 16px solid yellow } */
    body { font-size: 28px; max-width: 75% }
}
