a {
    text-decoration:none;
}

body {
    margin: auto;
    text-align: center;
    font-family: Baskerville;
    font-size: 1.2em;
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 6em; 
}
h2 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 3em; 
}

img {
    max-width: 100%;
}

p {
    padding: 1em;
}
