html {
    font-size: 1.2em;
    background-color: beige;
}

a {
    text-decoration: none;
}

body {
    width: 600px;
    max-width: 85%;
    margin: auto;
    padding: 1em;
}

p#travels {
    line-height: 1.4em;
    margin-left: 1em;
    margin-right: 1em;
}

/* html { */
/*     background-color: rgb(65,64,146); */
/*     color: rgb(90,118,174); */
/* } */

/* h1,h2,h3,h4,h5,h6 { */
/*     color: rgb(98,92,179); */
/* } */

/* a { */
/*     color: rgb(81,159,152); */
/* } */
